<!--  Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license.
        See LICENSE in the source repository root for complete license information. -->

@{
    ViewData["Title"] = "Microsoft Graph Webhooks Sample";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<h4>We'd love your feedback!</h4>
<p>Please post your questions and suggestions regarding the sample in the <a href="https://github.com/microsoftgraph/aspnetcore-apponlytoken-webhooks-sample/issues" target="_blank">Issues</a> section of this repository.</p>
<p>Questions about Microsoft Graph in general should be posted to <a href="https://stackoverflow.com/questions/tagged/MicrosoftGraph" target="_blank">Stack Overflow</a>. Make sure that your questions are tagged with <i>[MicrosoftGraph]</i>.</p>