<!--  Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license.
        See LICENSE in the source repository root for complete license information. -->

@{
    bool isAuthenticated = Context.User.Identity.IsAuthenticated;
}

<h2>Microsoft Graph Webhooks</h2>

<div>
    <p>You can subscribe to webhooks for specific resources (such as Outlook messages or events and OneDrive files) to get notified about changes to the resource.</p>
    <p>This sample creates a subscription for the signed-in user's <i>/mailFolders('Inbox')/messages</i> resource and the <i>created</i> change type. A subscription object looks like this:</p>
    <pre>
    {
        Resource = "users/{user-id}/mailFolders('Inbox')/messages",
        ChangeType = "created",
        NotificationUrl = "https://{your-notification-endpoint}",
        ClientState = "{your-client-state}",
        ExpirationDateTime = DateTime.UtcNow + new TimeSpan(0, 0, 4230, 0)
    }
    </pre>
    <p>See the <a href="https://graph.microsoft.io/en-us/docs/api-reference/v1.0/resources/webhooks" target="_blank">Webhooks documentation</a> for more information about supported resources and change types.</p><br />
    @if (!isAuthenticated)
    {
        <br />
        <p>Choose <b>Sign in</b> at the top of the page and sign in with your work or school account.</p>
    }
    @if (isAuthenticated)
    {   
        <h4>Permissions</h4>
        <p>This sample uses the OAuth2 client credentials flow and requires a tenant admin to authorize the app to access the mailboxes of all users in the tenant. The sample redirects to the <i>adminconsent</i> endpoint so an admin can consent to the <b>Mail.Read</b> application (app-only) permission. For more information about this auth flow, see <a href="https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-v2-protocols-oauth-client-creds" target="_blank">Azure Active Directory v2.0 and the OAuth 2.0 client credentials flow</a>.</p>
        <p>&nbsp;&nbsp;<b>Note:</b> Currently, only the messages, events, and contacts resources support application permissions for Microsoft Graph webhooks.</p><br />
        <h4>Get started</h4>
        <p>If you're a tenant admin, choose <b>Grant admin consent</b> to sign in with your admin credentials and approve the permissions request for the tenant. This is required only once per tenant.</p>
        @using (Html.BeginForm("RequestPermissions", "Account"))
        {
            <button type="submit">Grant admin consent</button>
        }
        <br />
        <p>If a tenant admin has already granted permissions, choose <b>Create subscription</b>.</p>
        @using (Html.BeginForm("Create", "Subscription"))
        {
            <button type="submit">Create subscription</button>
        }
    }
</div>