{
  "AzureAd": {
    "Instance": "https://login.microsoftonline.com/",
    "ClientId": "ENTER_YOUR_APP_ID",
    "ClientSecret": "ENTER_YOUR_SECRET", // This sample uses a password (secret) to authenticate. Production apps should use a certificate.
    "TenantId": "common",
    "BaseRedirectUri": "https://localhost:44334",
    "CallbackPath": "/signin-oidc",
    "GraphResourceId": "https://graph.microsoft.com/",
    "NotificationUrl": "ENTER_YOUR_URL/notification/listen"
  },
  "Logging": {
    "IncludeScopes": false,
    "LogLevel": {
      "Default": "Debug",
      "System": "Information",
      "Microsoft": "Information"
    }
  }
}