<!-- Copyright (c) Microsoft Corporation.
     Licensed under the MIT License. -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GraphWebhooks</title>
    <link rel="icon" href="~/img/g-raph.png" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <main>
        <div class="container py-4">
            <header class="pb-3 mb-4 border-bottom">
                <div class="d-flex align-items-center text-dark">
                    <img class="me-2" src="~/img/g-raph.png" />
                    <span class="fs-4 flex-grow-1">Microsoft Graph Notifications Sample</span>
                </div>
            </header>
            <partial name="_AlertPartial"/>
            @RenderBody()
        </div>
    </main>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
