<!--  Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license.
        See LICENSE in the source repository root for complete license information. -->

@model GraphWebhooks_Core.Models.MessageViewModel

@{
    ViewBag.Title = "Notification";
    string CurrentUserId = User.FindFirst("http://schemas.microsoft.com/identity/claims/objectidentifier").Value;
    string SubscriptionId = ViewBag.CurrentSubscriptionId;
}

@section Scripts {
    <script src="https://unpkg.com/@@aspnet/signalr@1.1.4/dist/browser/signalr.js"></script>
    <script>

        var connection = new signalR.HubConnectionBuilder()
            .withUrl("/NotificationHub")
            .configureLogging(signalR.LogLevel.Trace)
            .build();

        connection.on("showNotification", function (messages) {
            console.log(messages);
            $.each(messages, function (index, current) {                     // Iterate through the message collection
                if (current.subscriberId === '@CurrentUserId'.toString()) {  // Only show the current user's messages.
                    
            var message = current.message;

            var table = $("<table></table>");
            var header = $("<th>Message</th>").appendTo(table);

            for (prop in message) {                                  // Iterate through message properties
                var property = message[prop];
                var row = $("<tr></tr>");

                $("<td></td>").text(prop).appendTo(row);
                $("<td></td>").text(property).appendTo(row);
                table.append(row);
            }
            $("#message").append(table);
            $("#message").append("<br />");
        }
    });
});
        connection.start().then(function () {
            console.log("connected");
        });
    </script>
}
<h2>Messages</h2>
<p>You'll get a notification when your user receives an email. The messages display below.</p>
<p><b>Note:</b> It may take several seconds for the page to update after the user receives a message.</p>
<br />
<div id="message"></div>
<div>
    @using (Html.BeginForm("Delete", "Subscription"))
    {
        @Html.Hidden("id", @SubscriptionId)
        <button type="submit">Delete subscription</button>
    }
</div>

