<!--  Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license.
        See LICENSE in the source repository root for complete license information. -->

@model GraphWebhooks_Core.Models.NotificationViewModel

@{
    ViewBag.Title = "Notification";
    string SubscriptionId = ViewBag.CurrentSubscriptionId;
    bool isAuthenticated = User.Identity.IsAuthenticated;
}

@section Scripts {
    <script src="https://unpkg.com/@@aspnet/signalr@1.1.4/dist/browser/signalr.js"></script>
    <script>

        var connection = new signalR.HubConnectionBuilder()
            .withUrl("/NotificationHub")
            .configureLogging(signalR.LogLevel.Trace)
            .build();

        connection.on("showNotification", function (messages) {
            console.log(messages);
            $.each(messages, function (index, current) {                     // Iterate through the message collection

            var table = $("<table></table>");
                    $("<th>Notification</th>").appendTo(table);

            for (prop in current) {                                  // Iterate through message properties
                var property = current[prop];
                var row = $("<tr></tr>");

                $("<td></td>").text(prop).appendTo(row);
                $("<td></td>").text(property).appendTo(row);
                table.append(row);
            }
            $("#message").append(table);
            $("#message").append("<br />");
    });
});
        connection.start().then(function () {
            console.log("connected");
        });
    </script>
}
<h2>Messages</h2>
<p>You'll get a notification when performing the action you subscribed for. The notifications will be displayed below.</p>
<p><b>Note:</b> It may take several seconds for the page to update.</p>
<br />
<div id="message"></div>
<div>
    @using (Html.BeginForm($"Delete{(isAuthenticated ? string.Empty : "AppOnly")}", "Subscription"))
    {
        @Html.Hidden("id", @SubscriptionId)
        <button type="submit">Delete subscription</button>
    }
</div>

